<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        @if (routeData.PageType == typeof(Pages.Dashboard))
        {
            <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.DashboardLayout)" />
        }
        else
        {
            <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        }
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h1>Sorry, there's nothing at this address.</h1>
    </NotFound>
</Router>
