@page "/chart"
@rendermode InteractiveServer
@using test_blazor_web_app.Components;
@using test_blazor_web_app.Components.Components.Charts;

<PageTitle>Chart</PageTitle>

<h3>Chart component</h3>

<MyPiechart />
<MyLinechart />
<MyBarchart />