@page "/dashboard"


@inherits LayoutComponentBase
@using CustomDashboard.Components
@using Microsoft.AspNetCore.Components
@using System.Collections.ObjectModel
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<PageTitle>Custom dashboard</PageTitle>

<style>
    .grid-item {
        min-width: 300px;
        min-height: 150px;
    }

    .grid-item.selected .card {
        border-color: #0d6efd;
        background-color: #0d6dfd68;
    }
</style>

<h1 class="mb-4">
    <a href="/">
        <span class="bi bi-arrow-left mr-2"></span>
    </a>
    Custom dashboard
    <span class="btn btn-primary" @onclick="ToggleEditing">
        <i class="bi bi-pencil mr-2" />
        @(!Instance.IsEditing ? "Edit" : "Stop editing")
    </span>
</h1>
@if (Instance != null && Instance.Items != null)
{
    <CustomDashboardComponent Instance="@Instance" />
}

@code {
    public CustomDashboardInstance Instance { get; set; } = new CustomDashboardInstance(10, 10);

    private void ToggleEditing()
    {
        Instance.IsEditing = !Instance.IsEditing;
        StateHasChanged(); // Ensure the state change triggers a UI update
    }
}