@page "/dashboard"
@using CustomDashboard.Components
@using Microsoft.AspNetCore.Components
@using System.Collections.ObjectModel
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<PageTitle>Custom dashboard</PageTitle>
<style>
    .grid-item {
        min-width: 300px;
        min-height: 150px;
    }
</style>

<h1 class="mb-4">Custom dashboard
    <span class="btn btn-primary" @onclick="ToggleEditing">
        <i class="bi bi-pencil mr-2" />
        @(!Instance.IsEditing ? "Edit" : "Stop editing")
    </span>
</h1>

<CustomDashboardComponent Instance="@Instance" />

@code {
    public CustomDashboardInstance Instance { get; set; } = new CustomDashboardInstance();

    private void ToggleEditing()
    {
        Instance.IsEditing = !Instance.IsEditing;
        StateHasChanged(); // Ensure the state change triggers a UI update
    }
}
