@page "/gauge-meter"

@inherits LayoutComponentBase
@using CustomDashboard.Components
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using Widget.Forecast
@using System.Collections.ObjectModel
@using System.Drawing
@using Newtonsoft.Json
@inject IJSRuntime JSRuntime
@inject WidgetDataService DataService

@rendermode InteractiveServer

<PageTitle>Gauge meter</PageTitle>

<h1>Gauge meter</h1>

<section>
    <div class="d-flex" style="background:red;">
        <GaugeMeter MaxValue="120" Value="110" UnitLabel="°C" LabelText="Temperature" MinRange=20 MaxRange=80 />
        <GaugeMeter MaxValue="180" Value="120" SizeInPx="200" MinRange=50 MaxRange=70 UnitLabel="°C"
            LabelText="Temperature" />
        <GaugeMeter MaxValue="180" Value="120" SizeInPx="200" MinRange=50 MaxRange=70 UnitLabel="°C" MinValue="-20"
            LabelText="Temperature" />

    </div>
</section>

@code {
}
