@page "/test"
@rendermode InteractiveServer

<PageTitle>Todo page</PageTitle>

<h3>Todo (with login) component </h3>
<LoginTodos.LoginTodos />
<div class="clock">
    <div class="hand" id="hand"></div>
</div>


<style>
    .clock {
        position: relative;
        width: 200px;
        /* Diameter of the clock */
        height: 200px;
        /* Diameter of the clock */
        border: 2px solid black;
        /* Border of the clock */
        border-radius: 50%;
        /* Make it a circle */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hand {
        position: absolute;
        width: 2px;
        /* Width of the hand */
        height: 100px;
        /* 20% of the clock's diameter (200px * 0.2) */
        background: black;
        /* Color of the hand */
        top: 50%;
        /* Center the hand vertically */
        left: 50%;
        /* Center the hand horizontally */
        transform-origin: bottom center;
        /* Rotate around the bottom center */
        transform: rotate(90deg) translateY(-50%);
        /* Rotate to 90 degrees and move the hand to start from the edge */
    }
</style>